# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store

# Virtual environments
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Models
*.h5
*.keras
*.ckpt
*.pb

# Logs
logs/
*.log

# Images / outputs
images/
plots/

# OS
Thumbs.db
